<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521839378294-vk4u54ee3q4l28m20jueodlahsunlatd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521839378294-vk4u54ee3q4l28m20jueodlahsunlatd</string>
	<key>API_KEY</key>
	<string>AIzaSyAKibcY08g3HsdDpPz0bt4X08owVj5GyVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>521839378294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-bc1d6</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-bc1d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521839378294:ios:dfc61772f572c9e9104457</string>
</dict>
</plist>